<!doctype html>
<html lang="jp">
<head>
    <meta charset="utf-8">
    <title>Django Sample blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="py-2">Django Sample Blog</h1>
        <div class="border p-3">
            <h2>{{ instance.title }}</h2>
            <p>{{ instance.content }}</p>
            <p>{{ instance.create_at }}</p>
        </div>
        <p class="text-danger mt-2">上記の記事を本当に削除しますか？</p>
        <form method="POST" action="{% url 'delete' instance.pk %}" class="d-flex justify-content-start mt-2">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary me-2" value="削除">
            <a href="{% url 'detail' instance.pk %}" class="btn btn-secondary">戻る</a>
            <input type="hidden" value="{{ post.pk }}">
        </form>
    </div>
</body>
</html>